<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer center">
        <h1 class="center">A Warm Welcome!</h1>
        <p>This is my, Nina Duval's, treasure trove of quick, simple, and delicious recipes. Each recipe has been hand-picked by me for a highly curated and exceptional culinary experience. You can't go wrong here. That's the 100% Nina Guarantee!</p>
        <p><a class="btn btn-primary btn-large">Sign Up Now!</a>
        </p>
    </header>

    <!--
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
    -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-4 col-sm-12 hero-feature">
            <div>
                <div class="caption">
                    <h3>View Recipes As A Guest User</h3>
                    <p>View All Of Our Recipes Free of Charge</p>
                    <p>
                        <%= link_to "Browse Recipes", recipes_path, class: 'btn btn-primary' %> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 hero-feature">
            <div>
                <div class="caption">
                    <h3>Sign Up For A Starter Plan</h3>
                    <p>This gives you access to more recipes and allows you to post 3 of your own recipes to the site</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now for $9.99!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 hero-feature">
            <div>
                <div class="caption">
                    <h3>Sign Up For A Premium Plan</h3>
                    <p>Gives you access to multimedia content and allows you to post 10 recipes to the site</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now for $99.99!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>
